<template>
    <v-row no-gutters>
      <v-col class="primary col-2">
        <Widget></Widget>
      </v-col>
      <v-col class="grey lighten-4 col-10">
        <UptimeStatus></UptimeStatus>
      </v-col>
    </v-row>
</template>

<script>
import Widget from '@/components/Widget'
import UptimeStatus from '@/components/UptimeStatus'
export default {
    name: 'home',

    components: {
        Widget,
        UptimeStatus
    },
}
</script>