<template>
    <v-container>
        <v-row>
            <div class="tickets-donut mb-4">
                <vc-donut
                :size="95" unit="px" :thickness="10"
                :sections="ticketCharts" :total="ticketCharts[0].total"
                :start-angle="0"
                background="#1A191F"
                foreground="#797986"
                >
                    <h2 class="overline">{{ ticketCharts[0].total }}</h2>
                    <h5 class="overline">Tickets</h5>
                </vc-donut>
            </div>
        </v-row>
        <v-row>
            <div v-for="bar in ticketCharts" :key="bar.name" class="site-tickets">
                <h5 class="mb-1">{{ bar.name }}</h5>
                <v-progress-linear
                    :color="bar.color"
                    height="5"
                    :value="bar.value / bar.total * 100"
                    rounded
                    class="mb-1"
                    query
                >
                </v-progress-linear>
                <h5 class="mb-2 overline" :style="{ color: bar.color }">{{ bar.value }} tickets</h5>
            </div>
            
        </v-row>
    </v-container>
</template>

<script>
import axios from 'axios'
export default {
    name: 'TicketChart',

    data: () => ({
        tickets: [],
        ticketCharts: []
    }),

    mounted() {
        this.getTickets()

        this.$nextTick(function () {
            window.setInterval(() => {
                this.getTickets()
            }, 60000);
        })
    },

    methods: {
        getTickets: function() {
            axios.get( 'https://www.myprojectworld.com/base/tickets/GetTicketStatistics' )
            .then(response => {
                this.tickets = response.data
                this.renderTickets()
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        renderTickets: function() {
            this.ticketCharts = []; //Clear ticket charts 
            var i;
            for( i = 0; i < this.tickets.length; i++ ) {
                if( this.tickets[i].type == 'new_tickets' ) {
                    let ticketData = { 
                        'name': 'New Tickets', 
                        'color': '#27AE60', 
                        'value' : this.tickets[i].number, 
                        'total': this.tickets[i].total 
                    }

                    this.ticketCharts.push(ticketData);
                }   

                if( this.tickets[i].type == 'in_progress' ) {

                    let ticketData = { 
                        'name': 'In Progress', 
                        'color': '#EB5757', 
                        'value' : this.tickets[i].number, 
                        'total': this.tickets[i].total 
                    }

                    this.ticketCharts.push(ticketData);
                }


                if( this.tickets[i].type == 'testing' ) {

                    let ticketData = { 
                        'name': 'Testing', 
                        'color': '#F2AF4A', 
                        'value' : this.tickets[i].number, 
                        'total': this.tickets[i].total 
                    }

                    this.ticketCharts.push(ticketData);
                }

                if( this.tickets[i].type == 'done' ) {

                    let ticketData = { 
                        'name': 'Done', 
                        'color': '#2D9CDB', 
                        'value' : this.tickets[i].number, 
                        'total': this.tickets[i].total 
                    }

                    this.ticketCharts.push(ticketData);
                }

            }
        }
    }
}
</script>