<template>
    <v-container id="status-cards">
        <div class="alerts">
            <audio id="alertNotification">
                <source src="../assets/audio/notification.mp3" type="audio/mpeg">
                <source src="../assets/audio/notification.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <v-alert v-for="alert in alerts" :key="alert.site_name"
            class="transition-swing"
            transition="slide-x-reverse-transition"
            prominent
            width="400"
            dismissible
            :type="alert.status"
            :elevation="10"
            >
                <v-row align="center">
                    <v-col cols="10">
                        {{ alert.message }} 
                    </v-col>
                    <v-col cols="2">
                        <v-btn x-small fab v-if="alert.has_action" color="gray" class="float-right" @click="dismissAlert(alert.data.alert_id, alert.data.alert_name)">
                            <v-icon color="white"> mdi-volume-off</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-alert>
            <v-btn v-if="alertsOn" fab color="pink" class="float-right" @click="alertsOn = false">
                <v-icon color="white"> mdi-volume-high</v-icon>
            </v-btn>
            <v-btn v-if="!alertsOn" fab color="grey" class="float-right" @click="alertsOn = true">
                <v-icon color="white"> mdi-volume-off</v-icon>
            </v-btn>
        </div>
        <v-row>
            <v-overlay v-if="loading">
                <v-progress-circular indeterminate size="64"></v-progress-circular>
            </v-overlay>
            <v-card v-for="site in uptimes" :key="site.id" :class="site.status"
                class="mx-2 my-2 cards"
                max-width="300"
                width="100%"
                outlined
                tile
            >
                <v-list-item three-line>
                    <v-list-item-content>
                        <v-row no-gutters class="mb-3">
                            <v-col class="col-10">
                                <v-list-item-title class="headline">{{ site.name }}</v-list-item-title>
                                <div class="overline mb-4 site-hostname">{{ site.hostname }}</div>
                            </v-col>
                            <v-col class="col-2">
                                <v-row class="status-icon" no-gutters>
                                    <v-col class="align-center">
                                        <v-icon class="site-status" :class="site.status" v-if="site.status == 'up'">fas fa-arrow-circle-up</v-icon>
                                        <v-icon class="site-status" :class="site.status" v-else-if="site.status == 'notice'">fas fa-exclamation-triangle</v-icon>
                                        <v-icon class="site-status" :class="site.status" v-else>fas fa-arrow-circle-down</v-icon>
                                    </v-col>
                                </v-row>
                                <v-row class="status-icon" no-gutters>
                                    <v-col class="align-center">
                                        <v-menu top offset-x>
                                            <template v-slot:activator="{ on }">
                                                <v-btn icon v-on="on">
                                                    <v-icon>mdi-dots-horizontal-circle-outline</v-icon>
                                                </v-btn>
                                            </template>
                                            <v-list>
                                                <v-list-item v-if="site.status == 'paused'" @click="togglePause(site.id, 'false')">
                                                   <v-list-item-title><span class="overline">Unpause</span></v-list-item-title>
                                                </v-list-item>
                                                <v-list-item v-else @click="togglePause(site.id, 'true')">
                                                   <v-list-item-title><span class="overline">Maintenance</span></v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                        </v-menu>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-row no-gutters="mb-1">
                                 <v-row no-gutters class="card-info">
                                    <v-col class="col-auto mr-3">
                                    <div class="overline">status</div>
                                    <div class="overline">
                                        <span class="site-status" :class="site.status" v-if=" site.status == 'up' "> Online</span>
                                        <span class="site-status" :class="site.status" v-else> {{ site.status }}</span>
                                    </div>
                                    </v-col>
                                    <v-col v-if="site.status != 'unknown'" class="col-auto mr-3">
                                        <div class="overline" v-if="site.status == 'notice'">up since</div>
                                        <div class="overline" v-else>{{ site.status }} since</div>
                                        <div class="overline">
                                            <span v-if="site.status == 'paused'">{{ site.paused }}</span>
                                            <span v-else>{{ site.uptime }}</span>
                                        </div>
                                    </v-col>
                                    <v-col class="col-auto mr-3">
                                        <div class="overline">ping</div>
                                        <div class="overline">
                                            <span>{{ site.responsetime }} ms</span>
                                        </div>
                                    </v-col>
                                    <v-col class="col-auto mr-3">
                                        <div class="overline">avg.</div>
                                        <div class="overline">
                                            <span>{{ site.average.avgresponse }} ms</span>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-row>
                        </v-row>      
                    </v-list-item-content>
                </v-list-item>
            </v-card>                
        </v-row>
    </v-container>
</template>

<script>
import axios from 'axios';
export default {
    name: 'UptimeStatus',

    data: () => ({
        uptimes : [],
        errors: [],
        loading: true,
        alerts: [],
        notifications: [],
        alertsOn: true
    }),

    mounted() {
        this.getStatus()

        this.$nextTick(function () {
            window.setInterval(() => {
                this.getStatus();
            }, 60000);
        })
    },

    methods: {
        getStatus: function() {
            axios.get( window.location.href + '/api/status.php')
            .then(response => {
                this.uptimes = response.data
                this.loading = false
                
                if (this.alertsOn) {
                    this.checkDown()
                    this.checkAvg()
                    this.getAlerts()
                    this.sendNotifications()
                }

            })
            .catch(e => {
                this.errors.push(e)
            })
        },

        checkDown: function() {
            var i;
            for (i = 0; i < this.uptimes.length; i++){
                if(this.uptimes[i].status == 'down') {
                    let alert = {
                        'site_id': this.uptimes.id,
                        'message': 'The site '+this.uptimes[i].name+' is currently down.',
                        'status': 'error',
                        'data': {},
                        'has_action': false
                    }

                    this.notifications.push(alert)
                }
            }
        },

        checkAvg: function() {
            var i;
            for (i = 0; i < this.uptimes.length; i++){
                if(this.uptimes[i].average.avgresponse >= 1500 ) {
                    let alert = {
                        'site_id': this.uptimes[i].id,
                        'message': 'The site '+this.uptimes[i].name+' has high response time.',
                        'status': 'error',
                        'data': {},
                        'has_action': false
                    }
                    this.notifications.push(alert)
                }
            }
        },

        togglePause: function(siteId, paused) {
            var site = this.getSiteDetails(siteId)

            axios({
                method: 'post',
                url: window.location.href + 'api/actions.php',
                data: {
                    'action': 'toggle_pause',
                    'data': site,
                    'pause': paused
                },
            })
            .then(response => {
                let alert = {
                    'message': 'The tracking for '+response.data.site_name+' has been '+ ( response.data.paused == 'true' ? 'paused.' : 'unpaused.' ),
                    'status': ( response.data.paused == 'true' ? 'warning' : 'info' ),
                    'data': {},
                    'has_action': false
                }

                this.notifications.push(alert)
                this.getStatus()
            })
            .catch(e => {
                console.log(e)
            });
        },

        getSiteDetails: function(siteId) {
            var i;
            for ( i = 0; i < this.uptimes.length; i++ ) {
                if ( siteId == this.uptimes[i].id ) {
                    return this.uptimes[i]
                }
            }
        },

        notify: function(e) {
            var alert = document.getElementById('alertNotification')

            if (e  == 'alert') {
                alert.play()
            }
        },

        sendNotifications: function() {
            var i;
            for ( i = 0; i < this.notifications.length; i++ ) {

                var ifAlertExist = this.alerts.some( item => item.site_id === this.notifications[i].site_id )

                if( !ifAlertExist ) {
                    this.alerts.push( this.notifications[i] )
                    this.notify('alert')
                }

            }
        },

        getAlerts: function() {
            axios.get( window.location.href + '/api/alerts.php?action=get_alerts')
            .then(response => {
                var i
                var alertData = response.data
                
                for ( i = 0; i < alertData.length; i++ ) {

                    let alert = {
                        'message': 'Transaction: '+ alertData[i].check_name + ' - ' + alertData[i].description + ' (Status: ' + alertData[i].current_state + ')',
                        'status': ( alertData[i].current_state == 'DOWN' ? 'error' : 'warning' ),
                        'data' : { 'alert_id': alertData[i].id, 'alert_name': alertData[i].check_name },
                        'has_action': true
                    }

                    this.notifications.push(alert)
                }

                console.log(alertData)
            })
            .catch(e => {
                this.errors.push(e)
            })
        },

        dismissAlert: function(id, name) {
            
            let formData = { 
                'action': 'dismiss_alert',
                'alert_id': id,
                'alert_name': name
            }

            axios({
                method: 'post',
                url: window.location.href + 'api/alerts.php',
                data: formData,
            })
            .then(response => {

                if( response.data.success ) {
                    let alert = {
                        'message': 'Alert for "' + response.data.name + '" has been dismissed.',
                        'status': 'warning',
                        'data': {},
                        'has_action': true
                    }

                    this.alerts.push(alert)
                    this.notify('alert')
                }

                else {
                    let alert = {
                        'message': 'An error has been encountered processing your request.',
                        'status': 'warning',
                        'data': {},
                        'has_action': false
                    }

                    this.alerts.push(alert)
                    this.notify('alert')
                }

            })
            .catch(e => {
                console.log(e)
            });
        }
    }
}
</script>