<template>
    <div id="header">
        <div class="title">
            <h3 class="headline">E-Bureauet</h3>
            <h4>Website Monitoring</h4>
        </div>

        <div class="block mb-2">
            <h2 class="headline">Tickets</h2>
            <TicketChart></TicketChart>
        </div>
            
        <div class="block mb-2 time-today">
            <h2> {{ weather[0].day }} </h2>
            <h3> {{ weather[0].date }} </h3>
        </div>

        <div v-for="widget in weather" :key="widget.country_code" class="block weather-block mb-2">
            <h2 v-if="widget.country_code == 'DK'" >Denmark</h2>
            <h2 v-if="widget.country_code == 'PH'" >Philippines</h2>
            <h4>Today {{ widget.curr_time }}</h4>
            <h3>{{ widget.weather }}</h3>
            <span class="temp">{{ widget.temp }}</span><span class="metric">°C</span>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import TicketChart from './TicketChart'

export default {
    name: 'Widget',

    data: () => ({
        weather: [],
        errors: []
    }),

    mounted() {
        this.getWeather()

        this.$nextTick(function () {
            window.setInterval(() => {
                this.getWeather()
            }, 60000);
        })
    },

    methods: {
        getWeather: function() {
            axios.get( window.location.href + '/api/widget.php')
            .then(response => {
                this.weather = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
        }
    },

    components: {
        TicketChart
    }
}
</script>>