#header {
    font-family: Roboto,sans-serif;

    .title, .block {
        padding: 10px 20px;
    }

    .block {
        background-color: #1A191F;
    }

    h1,h2,h3,h4,h5 {
        text-transform: uppercase;
        font-weight: bold;
    }

    h2 {
        color: #797986;
    }

    h3 {
        color: #9999A5;
    }

    h4, h5 {
        color: #4F4F56;
    }

    .weather-block {

        .temp {
            font-size: 72px;
            color: #F2994A;
            font-weight: bold;
        }

        .metric {
            color: #fff;
            font-size: 18px;
            transform: translateY(50%);
            position: absolute;
            margin-top: 10px;
            margin-left: 5px;
        }
    }

    .site-tickets {
        width: 100%;
    }

    .tickets-donut {
        width: 95px;
        margin: 0 auto;
    }

}


#status-cards {

    .overline {
        line-height: 1.7em;
        font-size: .65rem !important;
        letter-spacing: 0.13em!important;
    }

    .alerts {
        position: fixed;
        right: 1%;
        z-index: 2;
        bottom: 2%;
    }
   
    .cards {

        .site-hostname {
            color: #2D9CDB;
        }

        &.down {
            border: 2px solid #EB5757;
            box-shadow: 0px 1px 10px rgba(235, 87, 87, 0.5);
        }

        &.paused {
            border: 2px solid #2F80ED;
            box-shadow: 0px 1px 10px rgba(51, 51, 51, 0.1);
        }

        &.notice {
            border: 2px solid #e67e22;
            box-shadow: 0px 1px 10px rgba(51, 51, 51, 0.1);
        }

        .status-icon {
            text-align: right;
            width: 29px;
            margin: 0 auto;

            .site-status {
                font-size: 22px;
            }
        }

        .card-info {

            .mr-3 {
                margin-right: 8px !important;
            }

        }

        .site-status {

            &.up {
                color: #27AE60;
            }

            &.down {
                color: #EB5757;
            }

            &.paused {
                color: #2F80ED;
            }

            &.notice {
                color: #e67e22;
            }
        }
    }
}